<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<services>
			<service name="DoctorAppointmentWebService.DoctorService" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="DoctorAppointmentWebService.IDoctorService" />
			</service>

			<service name="DoctorAppointmentWebService.PatientService" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="DoctorAppointmentWebService.IPatientService" />
			</service>

			<service name="DoctorAppointmentWebService.AppointmentService" behaviorConfiguration="metadata">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="DoctorAppointmentWebService.IAppointmentService" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadata">
					<serviceMetadata httpGetEnabled="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
