<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="DoctorAppointmentDBConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=DoctorAppointmentSystem;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IDoctorService" />
    <binding name="BasicHttpBinding_IPatientService" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8733/Design_Time_Addresses/DoctorAppointmentWebService/DoctorService/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDoctorService"
    contract="DoctorService.IDoctorService" name="BasicHttpBinding_IDoctorService" />
   <endpoint address="http://localhost:8733/Design_Time_Addresses/DoctorAppointmentWebService/PatientService/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPatientService"
    contract="PatientService.IPatientService" name="BasicHttpBinding_IPatientService" />
  </client>
 </system.serviceModel>
</configuration>
		